<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
</head>
<body>
  {{ content_for_layout }}
  <p>hi</p>
  <nav class="bottom-nav">
    <button id="btn-products">Produkte</button>
    <button id="btn-config">Konfigurator</button>
    <button id="btn-cart">Warenkorb</button>
    <button id="btn-more">Mehr</button>
  </nav>
  <script src="{{ 'bottom-nav.js' | asset_url }}" defer></script>
</body>
</html>
